@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 15px;
}


@layer components {
  .cs-skill-block {
    @apply pl-4 pr-4 rounded w-full;
  }
  .cs-skill-block-title {
    @apply uppercase border-b mb-1 font-medium;
  }
  .cs-skill-tag {
    @apply inline-flex items-center justify-between space-x-1 bg-gray-100 text-cyan-700 px-2 py-px rounded-md text-xs;
  }
  .dot {
    @apply bg-red-100 w-[1mm] h-[1mm];
  } 
}
 
.cs-column-left .cs-skill-block {
  @apply text-white; 
}

.cs-column-right .cs-skill-block {
  @apply p-0 border-cyan-900;
}

.cs-column-right .cs-skill-block-title {
  @apply border-gray-900;
}

body{
  /* enable background printing in all browsers */
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}

@media print {
  page {
    page-break-after: always;
    break-after: page;
  }
  @page {
    margin: 0;
    size: A4;
  }
}
